APP_NAME=CUSTOMER_API

NODE_ENV=dev
APP_VERSION=1.0.0
APP_PORT=3000
APP_DEBUGGER_PORT=22300

DB_DRIVER=mysql
DB_HOST=database
DB_ROOT_PASSWORD=banana pijama
DB_USER=docker
DB_PASSWORD=banana pijama
DB_PORT=6379

SSO_AUTH_URL="https://accounts.seguros.vitta.com.br/auth/realms/careers/protocol/openid-connect"
